.page-header-event {
	max-width: var(--content-width);
	margin: var(--wp--preset--spacing--50) auto var(--wp--preset--spacing--70) auto;
	& h1 {
		margin-top: 0;
	}
	& .entry-parent-link {
		color: $primary;
	}
	& .event-header {
		display: flex;
		flex-direction: column-reverse;
		gap: var(--wp--preset--spacing--30);
		@media (--tablet-small-up) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
	& .event-details {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		flex-grow: 1;
	}
	& .event-meta {
		font-size: 1.3125rem;
	}
	& .meta-label {
		font-weight: var(--font-weight--bold);
		color: $primary;
	}

	& .meta-signup {

		& .button {
			margin-top: 1rem;
			max-width: 125px;
		}
	}
	& .full-shift-note {
		font-size: 0.875rem;
		color: $gray800;
		font-style: italic;
	}
}

.wp-block-volunteer-event-management-event-registration {
	& .event-meta {
		font-family: var(--wp--preset--font-family--headings-sans);
		border-bottom: 1px solid $colorBorders;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		& a {
			font-size: var(--font-size-h4);
			font-weight: var(--font-weight--bold);
		}
	}
}

