.gform_required_legend {
	display: none;
}

.gform_wrapper.gravity-theme {
	& .gfield_label {
		font-size: 1.125rem;
		font-weight: var(--font-weight--regular);
	}
	& .gform_checkbox,
	& .gform_radio {
		& label {
			font-size: 0.90375rem;
		}
	}
	& select {
		padding: var(--padding-button) !important;
	}
}


@media only screen and (max-width: 641px) {
    .gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
        line-height: 1;
        min-height: 32px;
    }
}

.gform_wrapper.gravity-theme .field_description_above .description, .gform_wrapper.gravity-theme .field_description_above .gfield_description, .gform_wrapper.gravity-theme .field_description_above .gsection_description, .gform_wrapper.gravity-theme .field_description_above .instruction {
	margin-top: 0;
	padding: 0;
}