

.single-entry {

	& > .wp-block-spacer {
		margin-top: 0;
		margin-bottom: 0;
	}

	& .more-link {
		display: block;
		margin-top: 1.5rem;
	}

	& .entry-header {
		margin-bottom: $spacingDefault;
	}

	& .entry-date {
		font-size: 0.875rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	& .entry-title {

		& h1 {
			margin-top: 0;
			font-size: var(--font-size-h1-alt);
		}
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}





