

.single-entry {

	& > .wp-block-spacer {
		margin-top: 0;
		margin-bottom: 0;
	}

	& .more-link {
		display: block;
		margin-top: 1.5rem;
	}

	& .entry-header {
		margin-bottom: $spacingDefault;
	}

	& .entry-date {
		font-size: 0.875rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	& .entry-title {

		& h1 {
			margin-top: 0;
			font-size: var(--font-size-h1-alt);
		}
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.single-footer {
	max-width: var(--content-width-wide);
	margin: $spacingDefault auto;
}

.single-nav-links {
	display: flex;
	justify-content: space-between;
	& .nav-link a {
		display: flex;
		flex-direction: column;
	}
	& .nav-link.nav-next a {
		align-items: flex-end;
	}
	& .nav-label {
		text-transform: uppercase;
		font-size: 0.875rem;
		letter-spacing: 0.1em;
	}
}


.comments-area {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacingDefault;
	max-width: var(--content-width-wide);
	padding-top: $spacingDefault;
	padding-right: var(--gutter-width-page);
	padding-left: var(--gutter-width-page);
	border-top: 2px dotted $secondary;

}
