.wp-block-carkeek-blocks-team-members {
    margin-left: 0;
    margin-right: 0;
    .wp-block-carkeek-blocks-team-member {

        padding: 12px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .wp-block-carkeek-blocks-team-member__details {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .is-selected {
        .wp-block-carkeek-blocks-team-member {
            border: 1px solid var(--wp-admin-theme-color);
        }

    }
}

@media screen and(min-width: 768px) {
    .wp-block-carkeek-blocks-team-members {
        &.is-grid-style {

            @for $i from 1 through 6 {
                &.has-#{$i}-columns {
                    .block-editor-block-list__block {
                        width: calc(100% /#{$i});
                    }
                }
            }

            .block-editor-block-list__layout {
                display: flex;
                flex-wrap: wrap;
            }

        }

    }
}
