.wp-block-carkeek-blocks-team-members {

    &.is-grid-style {
        .wp-block-carkeek-blocks-team-member {
            margin-bottom: 2rem;
            .wp-block-carkeek-blocks-team-member__additional {
                display: none;
            }
            .popup-content {
                .wp-block-carkeek-blocks-team-member__additional {
                    display: block;
                }
            }
        }
    }
    &.is-list-style {
        .wp-block-carkeek-blocks-team-member {
            .wp-block-carkeek-blocks-team-member__image,
            .wp-block-carkeek-blocks-team-member__additional {
                display: none;
            }
            .popup-content {
                .wp-block-carkeek-blocks-team-member__image,
                .wp-block-carkeek-blocks-team-member__additional {
                    display: block;
                }
            }
        }
    }
}

.wp-block-carkeek-blocks-team-member {
    cursor: pointer;
    &__name {
        font-size: 18px;
        margin-bottom: 0;
    }
    &__title {
        margin-bottom: 5px;
    }
    &__image {
        position: relative;
        &:before {
            content: "";
            width: 1px;
            margin-left: -1px;
            float: left;
            height: 0;
            padding-top: 4px / 6px * 100%;
            display: block;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .close {
        font-size: 20px;
        text-align: right;
        display: block;
    }
    .popup-content {
        padding: 1rem;
        width: 90% !important;

        .content {
            max-height: 80vh;
            overflow-y: auto;
        }
    }
}

@media screen and(min-width: 768px) {
    .wp-block-carkeek-blocks-team-members {
        &.is-grid-style {
            display: flex;
            flex-wrap: wrap;
            @for $i from 1 through 6 {
                &.has-#{$i}-columns {
                    .wp-block-carkeek-blocks-team-member {
                        width: calc(100% /#{$i});
                    }
                }
            }
            .wp-block-carkeek-blocks-team-member {
                padding: 12px;
            }
        }
        &.is-list-style {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0;
            @for $i from 1 through 6 {
                &.has-#{$i}-columns {

                        width: calc(100vw / (6 - #{$i} ));

                }
            }
            .wp-block-carkeek-blocks-team-member {
                flex: 1 1 100%;
                padding: 0 28px 1rem;
            }
        }

    }
}
