$icon-font-family: "carkeek-blocks" !default;
$icon-expand: '\e808' !default;
$icon-collapse: '\e809' !default;


.wp-block-carkeek-blocks-expand-collapse {
    .wp-block-carkeek-blocks-expand-section__content {
        display: none;
        padding: 1rem 0 2rem;
    }
    .wp-block-carkeek-blocks-expand-section__header {
        cursor: pointer;
        &:after {
            font-family: $icon-font-family;
            content: $icon-expand;
            font-size: 80%;
            padding-left: 5px;
            font-weight: normal;
        }
    }
    .open {
        .wp-block-carkeek-blocks-expand-section__header {
            &:after {
                content: $icon-collapse;
            }
        }
        .wp-block-carkeek-blocks-expand-section__content {
            //display: block;
        }
    }
}


.wp-block-carkeek-blocks-expand-collapse.is-range-style {
    .wp-block-carkeek-blocks-expand-section__header,
    .wp-block-carkeek-blocks-expand-section__content {
        display: none;
    }
    .wp-block-carkeek-blocks-expand-collapse-section.expand-collapse-default {
        .wp-block-carkeek-blocks-expand-section__content {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }
    }
    .wp-block-carkeek-blocks-expand-section__content {
        text-align: center;
        min-height: 300px;
    }
}

.range-slider-element {
    background: url('scale_bg.png') center center repeat-x;
    height: 52px;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 6rem;
    &:before,
    &:after {
        content: '';
        height: 12px;
        width: 12px;
        display: block;
        position: absolute;
        background-color: #000;
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    &:after {
        right: 0;

    }
    &:before {
        left: 0;

    }

    .ui-slider {
        position: relative;
        margin-bottom: 2rem;
        height: 30px;

        .ui-slider-handle {
            border: 2px solid #000;
            background: #BC8A24 url('noun_point_white.svg') no-repeat center center;
            height: 52px;
            width: 52px;
            position: absolute;
            z-index: 2;
            cursor: pointer;
            -ms-touch-action: none;
            touch-action: none;
            transform: translateX(-50%);
            &:focus {
                outline: none;
            }
            &:hover {
                background: #BC8A24 url('noun_grab_white.svg') no-repeat center center;
            }
        }
        label {
            position: absolute;
            top: -40px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            white-space: nowrap;
            font-weight: bold;

            &:after {
                content: '';
                height: 23px;
                width: 2px;
                background-color: #000;
                margin-top: 31px;
            }

            &.selected {
                color: #637D36;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .range-slider-element {
        margin-bottom: 1.5rem;
    }
    .ui-slider {
        label {
            &:nth-of-type(even) {
                top: -60px;
                &:after {
                    margin-top: 51px;
                }
            }
        }
    }
}

@media screen and (min-width: 1360px) {
    .range-slider-element {

        .ui-slider {
            label {

                &:after {
                    margin-top: 25px;
                }
            }
        }
    }
}