/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */

html {
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;

}
/* stylelint-enable */

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* stylelint-disable */

/* Fallback for when there is no custom background color defined. */

body {
	background: #fff;
	overflow-x: hidden;
	max-width: 100vw;
	height: 100%;

	&.admin-bar {
		height: calc(100% - var(--admin-bar-height));
	}
}
/* stylelint-enable */


/* stylelint-disable */
hr {
	margin-top: var(--block-padding-vert);
	margin-bottom: var(--block-padding-vert);
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid var(--color-border);
}
/* stylelint-enable */

ul,
ol {
	margin: 1.5rem 0;
	line-height: 1.5;
}

li {
	padding-bottom: 0.25rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0;
}

ul.no-bullets {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-inline {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-inline li {
	display: inline-block;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
}
/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

p {
	margin-bottom: 1.5rem;
	margin-top: 0;
}

div > p:last-of-type {
	margin-bottom: 0;
}

