/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-main {
	height: var(--footer-height);
	font-size: 14px;
	font-weight: var(--font-weight-roman);
	line-height: 1.45;
	background-color: #f2f2f2;
	padding: 14px 15px 10px;

	& a {
		color: var(--color-theme-grey-dark);

		&:hover {
			color: var(--color-theme-green);
		}
	}

	& ul {
		list-style: none;
		padding: 0;
		margin: 0;

		& li {
			display: inline-block;
			margin-right: 1rem;
		}
	}


	& .gpopover {
		z-index: 400;
		color: var(--global-font-color);

		& a {
			color: var(--color-link);
		}
	}

	& .mobile-footer {
		display: flex;
		justify-content: center;

		& li {
			margin-right: 0.5rem;
			margin-left: 0.5rem;
		}
	}

	& .desktop-footer {
		display: none;
	}
}


.footer-section {

	& p {
		padding-bottom: 1.5rem;
	}

	& .colophon {
		display: none;
		padding-top: var(--gutter-width-mobile);
		padding-bottom: var(--gutter-width-mobile);
	}

	& .footer-social {
		display: none;
		padding-top: 1rem;

		& li {
			display: inline-block;
			font-size: 22px;
		}
	}

}

@media (--tablet-small-up) {

	.footer-main {
		font-size: 15px;

		& .desktop-footer {
			display: block;
		}

		& .mobile-footer {
			display: none;
		}
	}
}
