/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
.page-content .wFormContainer input[type="submit"] {
	border: 1px solid;
	border-color: transparent;
	border-radius: 0;
	background: var(--color-button-background);
	color: var(--color-button-text);
	font-size: var(--font-size-button);
	font-family: var(--form-field-font-family);
	font-weight: var(--font-weight-medium);
	line-height: 1;
	padding: 1rem 1.5rem;
	cursor: pointer;
	transition: background 0.5s ease;
	text-transform: lowercase;
	display: block;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
/* stylelint-enable */
a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: var(--color-button-hover);
}

button:focus {
	outline: none;
}

a.button.is-style-cta {
	background-color: transparent;
	color: var(--color-link);
	font-weight: var(--font-weight-medium);
	padding-left: 0;

	&::after {
		content: "\203A";
		padding-left: 5px;
		transition: padding 0.3s linear;
	}

	&:hover {
		color: var(--color-link-active);

		&::after {
			content: "\203A";
			padding-left: 7px;
		}
	}
}


button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="zip"],
textarea {
	color: var(--color-theme-grey-med-dark);
	border: 2px solid var(--color-border);
	background-color: var(--color-border);
	border-radius: 0;
	padding: 0.75rem;
	font-size: var(--font-size-regular);
	font-family: var(--form-field-font-family);
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

/** background image is fa-chevron-down svg
    more info here: https://css-tricks.com/probably-dont-base64-svg/ && here https://codepen.io/geoffyuen/pen/zGKQQW
**/
select:not([multiple]) {

	display: block;
	padding: 0.75rem 1rem;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	font-size: var(--font-size-regular);
	font-family: var(--form-field-font-family);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid var(--color-border);
	border-radius: 0;
	background-color: var(--color-border);
	background-image: url(../images/angle-down.svg);
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;

	& option {
		text-transform: lowercase;
	}
}

ul.mc_embed {
	margin-top: var(--gutter-width-mobile);

	& li {
		padding-bottom: var(--gutter-width-mobile);

		&.form-footer {
			text-align: center;
			padding-top: var(--gutter-width-mobile);
			display: flex;
			justify-content: center;
		}
	}
}

@media (--tablet-small-up) {

	ul.mc_embed {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-top: var(--gutter-width-small);

		& li {
			flex: 1 1 50%;
			padding-right: calc(var(--gutter-width-mobile) / 2);
			padding-left: calc(var(--gutter-width-mobile) / 2);

			&.form-footer {
				text-align: center;
				padding-top: var(--gutter-width-small);
			}
		}
	}
}

