/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* stylelint-disable */
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: var(--font-size-regular);
	line-height: var(--global-font-line-height);
}

.uppercase {
	text-transform: uppercase;
}

@media (--desktop-up) {

	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: var(--font-size-regular-hd);
		line-height: var(--global-font-line-height);
	}
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	margin-top: 0;
	color: var(--color-theme-green);
	line-height: 1.15;
	font-weight: var(--font-weight-medium);

	&.is-style-inline {
		display: inline;
		margin-bottom: 0;

		& + p {
			display: inline;
		}
	}

	&:focus {
		outline: none;
	}

	&.font-weight-medium {
		font-weight: var(--font-weight-medium);
	}

	&.font-weight-roman {
		font-weight: var(--font-weight-roman);
	}

	&.font-weight-roman-std {
		font-weight: var(--font-weight-roman-std);
	}

	&.font-weight-black {
		font-weight: var(--font-weight-black);
	}

	&.font-weight-book {
		font-weight: var(--font-weight-book);
	}
}

h5,
.h5 {

	&.is-style-highlight {
		font-size: 16px;
	}
}

@media (--desktop-up) {

	h5,
	.h5 {

		&.is-style-highlight {
			font-size: 20px;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {

	& a {
		color: var(--color-theme-aqua);
		font-weight: var(--font-weight-bold);



		&:visited {
			color: inherit;
		}
	}

	&:hover a {
		color: var(--color-link);
	}
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 2.25rem;
}

h2 + [class^=wp-block-] {
	margin-top: var(--block-padding-vert);
}

h1,
.h1 {
	font-family: var(--header-font-family);
	font-weight: 300;
	font-size: var(--font-size-h1);
	line-height: 1.3888;
}

h1.entry-title {
	font-family: var(--global-font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-h1-entry-title);
	line-height: 1.3888;
	color: var(--color-theme-black);
}

h2,
.h2 {
	line-height: 1.15;
	margin-bottom: 1.5rem;
	font-size: var(--font-size-h2);
}

h3,
.h3 {
	font-size: var(--font-size-h3);
	margin-bottom: 0.75rem;
}

h4,
.h4 {
	font-size: var(--font-size-h4);
	margin-bottom: 0.75rem;
}

h5,
.h5 {
	font-size: var(--font-size-h5);
	margin-bottom: 0.75rem;
}

h6,
.h6 {
	font-size: var(--font-size-h6);
	margin-bottom: 0.5rem;
	color: var(--global-font-color);
	font-weight: 700;
}


/* stylelint-enable */

.entry-header h1.entry-title,
.page-header .page-title {
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	quotes: initial;
}

blockquote,
.slide-content__quote {
	border: none;
	text-align: center;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-large);
	line-height: 1.66667;
}

blockquote cite,
.slide-content__quote .slide-content__attribution {
	color: inherit;
	font-size: 14px;
	margin-top: 1em;
	position: relative;
	font-style: normal;

	&::before {
		content: "\2013 ";
		margin-right: 3px;
	}
}

@media (--tablet-up) {

	blockquote,
	.slide-content__quote {
		font-size: var(--font-size-large-t);
		line-height: 1.619;
	}
}

@media (--tablet-wide-up) {

	blockquote,
	.slide-content__quote {
		font-size: var(--font-size-large-tw);
	}

	blockquote cite,
	.slide-content__quote .slide-content__attribution {
		font-size: 16px;
	}
}

@media (--desktop-up) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: var(--header-line-height);
	}

	blockquote,
	.slide-content__quote {
		font-size: var(--font-size-large-hd);
	}

	blockquote cite,
	.slide-content__quote .slide-content__attribution {
		font-size: 20px;
	}
}


address {
	margin: 0 0 1.5em;
}

/* stylelint-disable */
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
}
/* stylelint-enable */

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.8rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/

.has-medium-font-size {
	font-size: var(--font-size-medium);
	line-height: 1.77;
}

@media (--desktop-up) {

	.has-medium-font-size {
		line-height: 1.9;
	}
}
