.wp-block-carkeek-blocks-link-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > * {
        padding: 5%;
        padding-top: 0;
    }

    &.has-1-columns {
        & > * {
            flex-basis: 100%;
            padding-left: 30%;
            padding-right: 30%;
        }
    }
    &.has-2-columns {
        & > * {
            flex-basis: 50%;
        }
    }
    &.has-3-columns {
        & > * {
            flex-basis: 33.3333%;
        }
    }
    &.has-4-columns {
        & > * {
            flex-basis: 25%;
        }
    }
    &.has-5-columns {
        & > * {
            padding-left: 1rem;
            padding-right: 1rem;
            flex-basis: 20%;
        }
    }
    &.has-6-columns {
        & > * {
            padding-left: 1rem;
            padding-right: 1rem;
            flex-basis: 16.66667%;
        }
    }
}

@media (max-width: 767px) {
.wp-block-carkeek-blocks-link-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > * {
        padding: 0 1rem 2rem;
    }

    &.has-1-columns {
        & > * {
            flex-basis: 100%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    &.has-2-columns {
        & > * {
            flex-basis: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    &.has-3-columns {
        & > * {
            flex-basis: 100%;
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    &.has-4-columns {
        & > * {
            flex-basis: 50%;
        }
    }
    &.has-5-columns {
        & > * {
            flex-basis: 33.333%;
        }
    }
    &.has-6-columns {
        & > * {
            flex-basis: 33.333%;
        }
    }
}
}


