.wp-block-carkeek-blocks-rollover-images {
    .wp-block-carkeek-blocks-rollover-image {
        display:flex;
        .block-editor-block-list__layout {
            & > .wp-block {
                border: 2px solid #ebebeb;
                padding: 1rem;
            }
        }
    }
    .wp-block-carkeek-blocks-rollover-image--images {
        flex-basis: 50%;
        .block-editor-block-list__layout {
            display: flex;
            & > .block-editor-block-list__block {
                margin-top: 0;
                margin-bottom: 0;
                &:last-of-type {
                    display: none;
                }
            }
        }
    }
    .wp-block-carkeek-blocks-rollover-image--text {
        flex-basis: 50%;
        padding: 1rem;
        display: none;
        flex-direction: column;
        justify-content: center;
    }
}

.wp-block-carkeek-blocks-rollover-images {
    &.has-1-columns,
    &.has-2-columns,
    &.has-3-columns,
    &.has-4-columns,
    &.has-5-columns,
    &.has-6-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            .wp-block-carkeek-blocks-rollover-image {
                display: flex;
                flex-direction: column;
            }
        }
    }
    &.has-1-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
        .wp-block-carkeek-blocks-rollover-image {
            flex-direction: row;

        }
        .block-editor-block-list__block{
            display: none;
            &:first-of-type {
                display: block;
            }
        }
    }
}

.wp-block-carkeek-blocks-rollover-images {
    &.rollovertext-below {
        display: flex;
        flex-direction: column;
        .block-editor-inner-blocks {
            order: 2;
        }
        p.rich-text {
            order: 3;
        }
    }
    &.has-1-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 100%;
            }
        }
    }
    &.has-2-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 50%;
            }
        }
    }
    &.has-3-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 33%;
            }
        }
    }
    &.has-4-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 25%;
            }
        }
    }
    &.has-5-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 20%;
            }
        }
    }
    &.has-6-columns {
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            > * {
                width: 16%;
            }
        }
    }
}

.wp-block.has-child-selected,
.wp-block.is-selected {
    .wp-block-carkeek-blocks-rollover-images {
        .wp-block-carkeek-blocks-rollover-image--images {
            .block-editor-block-list__layout {
                & > .block-editor-block-list__block {
                    &:last-of-type {
                        display: block;
                    }
                }
            }
        }
        .wp-block-carkeek-blocks-rollover-image--text {
            display: flex;
        }
    }
}
.wp-block.has-child-selected,
.wp-block.is-selected {
    .wp-block-carkeek-blocks-rollover-images {
        &.has-1-columns,
        &.has-2-columns,
        &.has-3-columns,
        &.has-4-columns,
        &.has-5-columns,
        &.has-6-columns {
            > .block-editor-inner-blocks > .block-editor-block-list__layout {
                flex-wrap: wrap;
            }
            .block-editor-block-list__block{
                    display: block;
            }
        }
    }
}