.wp-block-carkeek-blocks-rollover-images {
    text-align: center;


    .rollover-images__inner {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    .wp-block-carkeek-blocks-rollover-image {
        position: relative;
        cursor: pointer;

        figure:last-of-type {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        &:focus {
            outline: none;
            figure:last-of-type {
                opacity: 1;
            }
        }

        .image-rollover__hover_text {
            display: none;
        }
    }

    .rollover-images__footer {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.has-1-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 100%;
        }
    }
    &.has-2-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 50%;
        }
    }
    &.has-3-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 33%;
        }
    }
    &.has-4-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 25%;
        }
    }
    &.has-5-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 20%;
        }
    }
    &.has-6-columns {
        .wp-block-carkeek-blocks-rollover-image {
            flex-basis: 16.66666%;
        }
    }
    &.rollovertext-above {
        display: flex;
        flex-direction: column;
        .rollover-images__footer {
            order: 2;
            margin-bottom: 2rem;
        }
        .rollover-images__inner {
            order: 3;
        }
    }
}


.wp-block-carkeek-blocks-rollover-images.venn-diagram {
    cursor:pointer;
    .wp-block-image {
        margin-bottom: 0;
    }
    .rollover-images__inner {
        position: relative;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        .wp-block-carkeek-blocks-rollover-image:not(.venn-default) {
            position:absolute;
            top: 0;
            left: 0;
            display: none;
            z-index: 0;
        }
        .wp-block-carkeek-blocks-rollover-image.venn-default {
            position:relative;
            z-index: 1;
        }
        .wp-block-carkeek-blocks-rollover-image.current {
            display: block;
            z-index: 5;
        }
        .venn-zone {
            position: absolute;
            height:380px;
            width: 380px;
            border-radius: 100%;
            &:focus {
                outline: none;
            }
        }
        .zone-venn-top {
            z-index: 10;

            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .zone-venn-bottom-left {
            z-index: 20;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .zone-venn-bottom-right {
            z-index: 30;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .wp-block-carkeek-blocks-rollover-images.venn-diagram {
        padding-left: 0;
        padding-right: 0;
        .rollover-images__inner {
            width: 300px;
            .venn-zone {
                height:190px;
                width: 190px;
            }
        }
        .rollover-images__footer {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}