/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no-top-margin {
	margin-top: 0;
}

.add-top-margin {
	margin-top: var(--block-padding-vert);
}

.add-top-margin-small {
	margin-top: var(--gutter-width-mobile);
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-bottom-margin {
	margin-bottom: var(--block-padding-vert);
}

.add-bottom-margin-small {
	margin-bottom: var(--gutter-width-mobile);
}

[class^="wp-block-"] {

	&.no-top-margin {
		margin-top: 0;
	}

	&.add-top-margin {
		margin-top: var(--block-padding-vert);
	}

	&.add-top-margin-small {
		margin-top: var(--gutter-width-mobile);
	}

	&.no-bottom-margin {
		margin-bottom: 0;
	}

	&.add-bottom-margin {
		margin-bottom: var(--block-padding-vert);
	}

	&.add-bottom-margin-small {
		margin-bottom: var(--gutter-width-mobile);
	}

	&.no-padding {
		padding: 0;
	}

	&.no-padding-left {
		padding-left: 0;
	}

	&.no-padding-right {
		padding-right: 0;
	}

	&.no-padding-bottom {
		padding-bottom: 0;
	}

	&.no-padding-top {
		padding-top: 0;
	}

}

@media (--tablet-small-up) {

	.add-top-margin {
		margin-top: var(--block-padding-vert-tablet);
	}

	.add-top-margin-small {
		margin-top: var(--gutter-width-small);
	}

	.add-bottom-margin {
		margin-bottom: var(--block-padding-vert-tablet);
	}

	.add-bottom-margin-small {
		margin-bottom: var(--gutter-width-small);
	}

	[class^="wp-block-"] {

		&.add-top-margin {
			margin-top: var(--block-padding-vert-tablet);
		}

		&.add-top-margin-small {
			margin-top: var(--gutter-width-small);
		}

		&.add-bottom-margin {
			margin-bottom: var(--block-padding-vert-tablet);
		}

		&.add-bottom-margin-small {
			margin-bottom: var(--gutter-width-small);
		}

	}
}

/*--------------------------------------------------------------
## List Style
--------------------------------------------------------------*/
ul.is-style-no-bullets {
	list-style: none;
}

ul.is-style-circle-checked {
	list-style: none;

	& li {
		position: relative;
		margin-bottom: 1rem;
	}

	& li::before {
		content: "\e80a";
		font-family: var(--icons-font-family);
		font-size: 28px;
		line-height: 16px;
		background-color: var(--color-theme-white);
		color: var(--color-theme-aqua);
		height: 25px;
		width: 25px;
		padding-bottom: 5px;
		margin-bottom: 5px;
		border: 2px solid var(--color-border-dark);
		border-radius: 100%;
		display: inline-block;
		position: absolute;
		left: -40px;
		top: 0;
	}
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-theme-primary-color,
.has-theme-primary-color a {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
	color: var(--color-theme-white) l;
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-green-color,
.has-theme-green-color a {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-green-light-color,
.has-theme-green-light-color a {
	color: var(--color-theme-green-light);
}

.has-theme-green-light-background-color {
	background-color: var(--color-theme-green-light);
}


.has-theme-grey-color,
.has-theme-grey-color a {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}


.has-theme-grey-dark-color,
.has-theme-grey-dark-color a {
	color: var(--color-theme-grey-dark);
}

.has-theme-grey-dark-background-color {
	background-color: var(--color-theme-grey-dark);
}

.has-theme-grey-light-color,
.has-theme-grey-light-color a {
	color: var(--color-theme-grey-light);
}

.has-theme-grey-light-background-color {
	background-color: var(--color-theme-grey-light);
}


.has-theme-white-color,
.has-theme-white-color a {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}


.has-theme-green-background-color,
.has-theme-grey-dark-background-color {
	color: var(--color-theme-white);

	& a,
	& h1:not(.has-text-color),
	& h2:not(.has-text-color),
	& h3:not(.has-text-color),
	& h4:not(.has-text-color),
	& h5:not(.has-text-color) {

		color: var(--color-theme-white);

	}

	& a:not(.wp-block-carkeek-blocks-link-tile__link):hover,
	& a:not(.wp-block-carkeek-blocks-link-tile__link):active {
		color: var(--color-theme-grey-dark);
	}
}

.has-theme-white-background-color,
.has-theme-grey-light-background-color {
	color: var(--color-theme-grey-dark);

	& .link-tile__hover_title,
	& a,
	& h1:not(.has-text-color),
	& h2:not(.has-text-color),
	& h3:not(.has-text-color),
	& h4:not(.has-text-color),
	& h5:not(.has-text-color) {

		color: var(--color-theme-grey-dark);

	}

	& a:not(.wp-block-carkeek-blocks-link-tile__link):hover,
	& a:not(.wp-block-carkeek-blocks-link-tile__link):active {
		color: var(--color-theme-white);
	}
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-xsmall);
	line-height: 1.1;
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
}

.inner-block-headline {
	font-weight: var(--font-weight-bold);
	color: var(--color-theme-aqua);
	line-height: 1.15;
	margin-bottom: 0.5rem;
}

.innerblock-headline-style-h2 .inner-block-headline {
	font-size: var(--font-size-h2-mobile);
}

.innerblock-headline-style-h3 .inner-block-headline {
	font-size: var(--font-size-h3-mobile);
}

.innerblock-headline-style-h4 .inner-block-headline {
	font-size: var(--font-size-h4-mobile);
}

.innerblock-headline-style-h5 .inner-block-headline {
	font-size: var(--font-size-h5-mobile);
}

.innerblock-headline-style-h6 .inner-block-headline {
	font-size: var(--font-size-h6-mobile);
}

@media (--desktop-up) {

	.innerblock-headline-style-h2 .inner-block-headline {
		font-size: var(--font-size-h2);
	}

	.innerblock-headline-style-h3 .inner-block-headline {
		font-size: var(--font-size-h3);
	}

	.innerblock-headline-style-h4 .inner-block-headline {
		font-size: var(--font-size-h4);
	}

	.innerblock-headline-style-h5 .inner-block-headline {
		font-size: var(--font-size-h5);
	}

	.innerblock-headline-style-h6 .inner-block-headline {
		font-size: var(--font-size-h6);
	}
}
