.slick-slider button {
	box-shadow: none;
}

.slick-next,
.slick-prev {
	height: 50px;
	width: 50px;
	top: 90%;

	&::before {
		height: 100%;
		width: 100%;
		background-size: 50px 50px;
		background-repeat: no-repeat;
		display: block;
	}
}

.slick-next {

	&::before {
		background-image: url(../images/arrow_right.png);
		content: "";
	}
}

.slick-prev {

	&::before {
		background-image: url(../images/arrow_left.png);
		content: "";
	}
}


.slick-dots {
	text-align: center;
	padding-right: 0;
}


.wp-block-columns.lazar-cols:not(.lazar-cols-images) {

	& .lazar-col-left {
		margin-bottom: 0;
	}
}

.wp-block-columns.lazar-cols-images {

	& .wp-block-image {
		margin: 0;
		height: 100%;
		width: 100%;
		max-height: 560px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


@media (max-width: 781px) and (min-width: 600px) {

	.wp-block-columns.lazar-cols {

		& .wp-block-column.lazar-col-left,
		& .wp-block-column.lazar-col-right {
			flex-basis: 100% !important;
		}
	}

}

@media (min-width: 737px) {

	.wp-block-columns.lazar-cols.lazar-cols-images {

		& .wp-block-column.lazar-col-left {
			flex-basis: calc(33% - var(--gutter-width-small)) !important;
		}

		& .wp-block-column.lazar-col-right {
			flex-basis: calc(67% - var(--gutter-width-small)) !important;
		}
	}
}

@media (min-width: 782px) {

	.wp-block-columns.lazar-cols {

		& .wp-block-column.lazar-col-left {
			flex-basis: 33%;
		}

		& .wp-block-column.lazar-col-right {
			flex-basis: 67%;
		}
	}
}

@media (--tablet-wide-up) {

	.slick-dots {
		text-align: right;
		padding-right: 50px;
	}

	.slick-next,
	.slick-prev {
		height: 100px;
		width: 100px;
		top: 50%;

		&::before {
			height: 100%;
			width: 100%;
			background-size: 100px 100px;
			background-repeat: no-repeat;
			display: block;
		}
	}

	.slick-next {
		right: 0;
	}

	.slick-prev {
		left: -10px;
	}

}

