

.home {
	overflow: hidden;

	& .wp-block-carkeek-blocks-image-slider {
		margin-bottom: 0;
		height: calc(var(--viewheight) - var(--footer-height) - var(--header-height));
		position: relative;
	}

	& .wp-block-carkeek-blocks-slider__slide-wrapper {
		height: 100%;
	}

	& .slick-list,
	& .slick-track {
		height: 100%;
	}

	& .slick-next,
	& .slick-prev {
		display: none !important;
	}

	& .wp-block-carkeek-blocks-slider__slide-overlay {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 2rem;
		width: 90%;

		z-index: 1000;
		line-height: 1.25;

		color: #fff;
		text-shadow: -1px 1px 24px rgba(0, 0, 0, 1);

		& h1 {
			color: #fff;
			text-align: center;
			margin-bottom: 20px;
			padding-top: 0;
			white-space: nowrap;
		}
	}
}

@media (--tablet-small-up) {

	.home {

		& .wp-block-carkeek-blocks-slider__slide-overlay {
			width: 80%;
			max-width: 400px;
		}
	}
}

@media (--desktop-up) {

	.home {

		& .wp-block-carkeek-blocks-slider__slide-overlay {
			max-width: 570px;
		}
	}
}
