

.home {
	overflow: hidden;

	& .wp-block-carkeek-blocks-image-slider {
		margin-bottom: 0;
		height: calc(var(--viewheight) - var(--footer-height) - var(--header-height));
		position: relative;
	}

	& .wp-block-carkeek-blocks-slider__slide-wrapper {
		height: 100%;
	}

	& .slick-list,
	& .slick-track {
		height: 100%;
	}

	& .slick-next,
	& .slick-prev {
		display: none !important;
	}

	& .wp-block-carkeek-blocks-slider__slide-overlay {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 2rem;
		width: 90%;

		z-index: 1000;
		line-height: 1.25;

		color: #fff;
		text-shadow: -1px 1px 24px rgba(0, 0, 0, 1);
		font-family: var(--header-font-family);
		font-weight: 500;
		font-size: 15px;

		& h1 {
			color: #fff;
			text-align: left;
			margin-bottom: 0;
			padding-top: 0;
			white-space: nowrap;
			line-height: 1.15;
			font-size: 50px;
			font-size: 14vw;

		}
	}
}

@media (--tablet-small-up) {

	.home {

		& .wp-block-carkeek-blocks-slider__slide-overlay {
			width: 80%;

			& h1 {
				font-size: 75px;
			}
		}
	}
}

@media (--tablet-up) {

	.home {


		& .wp-block-carkeek-blocks-slider__slide-overlay {
			max-width: 530px;
			margin-bottom: 30px;
			font-size: 17px;

			& h1 {
				font-size: 87px;
			}

		}
	}
}

@media (--tablet-wide-up) {

	.home {


		& .wp-block-carkeek-blocks-slider__slide-overlay {
			width: 50%;
			max-width: 600px;
			margin-bottom: 0;

		}
	}
}

@media (--desktop-up) {

	.home {


		& .wp-block-carkeek-blocks-slider__slide-overlay {
			width: 39%;
			max-width: 800px;
			margin-bottom: 0;
			font-size: 25px;
			font-size: 1.3vw;

			& h1 {
				font-size: 120px;
				font-size: 6.25vw;
			}


		}
	}
}
