.page-content,
.entry-content,
.archive-header,
.archive-wrapper,
.infinite-wrap {

	& > * {
		margin-right: auto;
		margin-left: auto;
		padding-right: var(--gutter-width-mobile);
		padding-left: var(--gutter-width-mobile);
		max-width: var(--content-width);
	}
}

.page-content > ul,
.page-content > ol,
.entry-content > ul,
.entry-content > ol {
	padding-left: calc(2 * var(--gutter-width-mobile));
}

@media (--tablet-small-up) {

	.page-content,
	.entry-content,
	.archive-header,
	.archive-wrapper,
	.infinite-wrap {

		& > * {
			margin-right: auto;
			margin-left: auto;
			padding-right: var(--gutter-width);
			padding-left: var(--gutter-width);
		}

		& > .alignwide,
		& > .is-style-wide {
			max-width: 100%;
		}


		& > .alignfull {
			padding-right: var(--gutter-width-small);
			padding-left: var(--gutter-width-small);
			max-width: 100%;

		}
	}

	.page-content > ul,
	.page-content > ol,
	.entry-content > ul,
	.entry-content > ol {
		padding-left: calc(var(--gutter-width) + 3rem);
	}
}

.page-content {

	& > h2:not(.h6):not(.h5):not(.h4):not(.h3) {
		margin-bottom: 2rem;
	}
}
