.image-caption {
	font-size: var(--font-size-xsmall);
	color: var(--color-theme-grey);
}

.page-header {
	text-align: center;
	border-top: 2px solid var(--color-theme-grey-lightest);
	padding: 4.625rem 1rem 0;
	color: var(--color-theme-aqua);

	& .image-caption {
		padding: 0.5rem  var(--gutter-width-mobile);
		text-align: left;

	}
}


.entry-title {
	color: var(--color-theme-aqua);

	& h1 {
		margin-bottom: 0;
	}

	& span {
		font-size: 18px;
		font-family: var(--highlight-font-family);
		text-transform: uppercase;
		letter-spacing: 2.5px;

		& a {
			color: var(--color-theme-aqua);

			&:hover {
				color: var(--color-theme-aqua-light-links);
			}
		}
	}
}

@media (--desktop-up) {

	.entry-title {

		& span {
			font-size: 20px;
		}
	}
}

.page-header.has-post-thumbnail {
	border-top: none;
	margin: 0;
	padding: 0;
	max-width: 100%;
	position: relative;
	margin-bottom: var(--block-padding-vert);
	color: var(--color-theme-white);

	& .post-thumbnail {
		border-bottom: none;
	}

	& img {
		width: 100%;
		height: 66vw;
		min-height: 400px;
		max-height: 870px;
		object-fit: cover;
	}

	& .entry-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		color: var(--color-theme-white);
		text-shadow: var(--global-text-shadow);
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--color-theme-white);
	}
}

@media (--tablet-wide-up) {

	.page-header.has-post-thumbnail {
		margin-bottom: var(--block-padding-vert-tablet);
	}

	.single {

		& .page-header.has-post-thumbnail {
			margin-bottom: 4.375rem;
		}
	}
}
