.single-people {

	& h1.entry-title {
		margin-bottom: 0;
	}

	& h1.entry-title + p {
		margin-top: 1rem;
	}

	& h1.entry-title + h2 {
		color: var(--color-theme-black);
	}
}

.lazar-cols-people {

	& > .wp-block-column.lazar-col-left {
		margin-bottom: 0;
	}

	& .lazar-gallery-inner {
		display: none;

		& > .wp-block-column figure {
			position: relative;
			display: block;

			&::after {
				display: block;
				width: 100%;
				content: "";
				padding-bottom: 56%;
			}

			& img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@media (--tablet-small-up) {

	.lazar-cols-people {

		& > .wp-block-column.lazar-col-left {
			margin-bottom: 0;
		}

		& .lazar-gallery-inner {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;

			& .wp-block-column {
				margin-bottom: 0;
				margin-left: 0 !important;
			}
		}
	}
}

@media (--tablet-wide-up) {


	.lazar-cols-people {

		& > .wp-block-column.lazar-col-left {
			margin-bottom: 0;
		}

		& .lazar-gallery-inner {
			display: flex;
			flex-direction: row;

			& .wp-block-column {
				margin-bottom: 0;
				margin-left: 0 !important;
			}

			& .wp-block-column:not(:first-child) {
				margin-left: var(--gutter-width-small) !important;
			}
		}
	}
}

@media (--desktop-up) {

	.lazar-cols-people {

		& > .lazar-col-left {
			flex: 1 1 60%;
		}

		& > .lazar-col-right {
			flex: 1 1 40%;
		}
	}
}

