/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

/* Custom rule  for sticky posts:
.sticky {

}
*/

.entry-meta,
.entry-footer {
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
}

.entry-meta {
	margin: 1em 0;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.archive-header {
	text-align: center;
	border-top: 2px solid var(--color-theme-grey-lightest);
	padding: 4.625rem 1rem 0;

	& .entry-title {
		margin-bottom: 2rem;
	}

	& .widget_wrapper,
	& .archive-description {
		margin-bottom: 2rem;
	}

	& .select-list-wrapper {
		margin-bottom: var(--block-padding-vert);
	}

	& ul.select-list {
		margin-top: 0.5rem;

		& li {
			padding-bottom: 0.5rem;
		}
	}
}

@media (--tablet-up) {

	.archive-header {

		& .select-list-wrapper {
			margin-bottom: var(--block-padding-vert-tablet);
		}
	}
}

@media (--desktop-up) {

	.page-header,
	.entry-header,
	.entry-footer,
	.site-info,
	.post-navigation,
	.page-navigation,
	.comments-area {
		padding-left: 0;
		padding-right: 0;
	}
}


/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
	padding: 1.5em 1.5rem 3em;

}

.archive .site-main,
.blog .site-main,
.error404 .site-main,
.search .site-main,
.archive-wrapper,
.infinite-wrap {
	margin-bottom: var(--block-padding-vert);
}


@media (--tablet-up) {

	.blog .site-main,
	.search .site-main,
	.error404 .site-main,
	.archive-wrapper,
	.infinite-wrap {
		margin-bottom: var(--block-padding-vert-tablet);
	}
}


.archive-entry {
	margin-bottom: var(--block-padding-vert);

	&::after {
		content: "";
		width: 100%;
		background-color: var(--color-border);
		height: 2px;
		display: block;
		margin-top: var(--block-padding-vert);
	}

	&:first-of-type {
		padding-top: 0;

		&::before {
			content: "";
			width: 100%;
			background-color: var(--color-border);
			height: 2px;
			display: block;
			margin-bottom: var(--block-padding-vert);
		}
	}

	& .archive-entry--content {
		margin-top: 1.5rem;
	}

	& .entry-taxonomies {
		margin-bottom: 0.5rem;
	}

	& .postmeta {
		color: var(--color-theme-grey);
	}

	& .byline {
		font-weight: var(--font-weight-bold);
	}

	& .entry-summary {
		margin-top: 1.5rem;
	}

	& a.post-thumbnail {
		position: relative;
		display: block;

		&::after {
			display: block;
			width: 100%;
			content: "";
			padding-bottom: 66%;
		}

		& > img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}

@media (--tablet-up) {

	.archive-entry {
		margin-bottom: var(--block-padding-vert-tablet);

		&::after {
			margin-top: var(--block-padding-vert-tablet);
		}

		&:first-of-type {
			padding-top: 0;

			&::before {
				margin-bottom: var(--block-padding-vert-tablet);
			}
		}
	}
}

.infinite-wrap {

	& .archive-entry {

		&::before {
			height: 0;
			margin-bottom: 0;
		}
	}
}


@media (--tablet-up) {

	.archive-entry {
		display: flex;
		flex-wrap: wrap;

		& .entry-header {
			margin: 0 0 1rem 0;
		}

		& .entry-footer {
			margin: 0 0 1rem 0;
		}

		& .archive-entry--thumb {
			flex-basis: 50%;
		}

		& .archive-entry:last-of-type {

			& .post-thumbnail {
				border-bottom: none;
			}
		}


		& .archive-entry--content {
			margin-top: 0;
			flex-shrink: 1;
			flex-basis: 50%;
			padding: var(--gutter-width-mobile) var(--gutter-width-small);
			padding-right: 0;
		}

	}

}

@media (--desktop-up) {

	.archive-entry {

		& .archive-entry--thumb {
			flex-basis: 40%;
		}

		& .archive-entry--content {
			flex-basis: 60%;
		}
	}
}

.single-post {

	& .entry-title {
		padding-bottom: 0.5rem;
		margin-bottom: var(--gutter-width-mobile);

		& a {
			color: var(--color-theme-aqua);

			&:hover {
				color: var(--color-theme-aqua-light-links);
			}
		}

		& .postmeta {
			color: var(--color-theme-grey);
			font-size: 12px;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}

		& .byline {
			font-weight: var(--font-weight-bold);
		}

		&::after {
			content: "";
			background-color: var(--color-border);
			width: 100%;
			height: 2px;
			display: block;
		}
	}
}

@media (--desktop-up) {

	.single-post {

		& .entry-title {

			& .postmeta {
				font-size: 14px;
			}
		}
	}
}

/** jetpack infinite scroll button */
#infinite-handle {
	text-align: center;

	& span {
		background-color: transparent;
		color: var(--color-link);
		font-weight: var(--font-weight-medium);
		font-size: 18px;
		cursor: pointer;
	}
}


p + #jp-relatedposts {
	margin-top: 2rem;
}

#jp-relatedposts {
	padding-top: var(--block-padding-vert);
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	padding-right: var(--gutter-width-small);
	padding-left: var(--gutter-width-small);

	&::before {
		content: "";
		background-color: var(--color-border);
		width: 96vw;
		height: 2px;
		display: block;
		position: absolute;
		left: 2vw;
	}

	& h3.jp-relatedposts-headline {
		margin: calc(2 * var(--gutter-width-mobile)) 0 var(--gutter-width-mobile) 0;
		display: block;
		float: none;
		font-size: 20px;
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-family: var(--highlight-font-family);

		& em::before {
			display: none;
		}
	}

	& .jp-relatedposts-items-visual {
		display: flex;
		margin-right: calc(-1 * var(--gutter-width-small));

		& .jp-relatedposts-post {
			opacity: 1;
			padding-right: var(--gutter-width-small);

			& h4.jp-relatedposts-post-title {
				font-size: 18px;
				font-weight: var(--font-weight-bold);
				line-height: 28px;
				margin-top: 1rem;
				margin-bottom: 1rem;

				& a {
					font-weight: var(--font-weight-bold);
					color: var(--color-theme-aqua);
				}
			}

			&:hover {

				& h4.jp-relatedposts-post-title {

					& a {
						text-decoration: none;
						color: var(--color-theme-aqua-light-links);
					}
				}
			}

			& > .jp-relatedposts-post-a {
				position: relative;
				display: block;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: 66%;
				}
			}

			& img.jp-relatedposts-post-img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		}

		& div.jp-relatedposts-post-thumbs p.jp-relatedposts-post-excerpt {
			display: block;
		}

	}
}

p + .rp4wp-related-posts {
	margin-top: 2rem;
}

.rp4wp-related-posts {
	padding-top: var(--block-padding-vert);
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	padding-right: var(--gutter-width-small);
	padding-left: var(--gutter-width-small);

	&::before {
		content: "";
		background-color: var(--color-border);
		width: 96vw;
		height: 2px;
		display: block;
		position: absolute;
		left: 2vw;
	}

	& > h3 {
		margin: calc(2 * var(--gutter-width-mobile)) 0 var(--gutter-width-mobile) 0;
		display: block;
		float: none;
		font-size: 20px;
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-family: var(--highlight-font-family);

		& em::before {
			display: none;
		}
	}

	& ul {
		display: flex;
		margin: 0;
		margin-right: calc(-1 * var(--gutter-width-small));
		list-style: none;
		padding: 0;

		& > li {
			padding-right: var(--gutter-width-small);
			flex: 1 1 33.3333%;
			position: relative;
			max-width: 33.3333%;


			& .rp4wp-related-post-content > a {
				font-size: 18px;
				line-height: 28px;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: block;
				font-weight: var(--font-weight-bold);
				color: var(--color-theme-aqua);

			}

			& .random_image {
				display: block;
				margin-top: -1rem;
				margin-bottom: 1rem;
				position: relative;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: 66%;
				}

				& > img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&:hover {

				& .rp4wp-related-post-content > a {

					text-decoration: none;
					color: var(--color-theme-aqua-light-links);
				}
			}

			/* & img.crp_featured {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				&:before {

				}
			} */

		}

	}

	& .rp4wp-related-post-image {

		& > a {
			position: relative;
			display: block;

			&::after {
				display: block;
				width: 100%;
				content: "";
				padding-bottom: 66%;
			}
		}

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

}

.select-list-wrapper {

	& .btn-select {
		font-size: 18px;
		color: var(--color-theme-aqua);

		&::after {
			content: "\f107";
			font-family: var(--icons-font-family);
			padding-left: 5px;
			font-size: 21px;

		}

		&.open {

			&::after {
				content: "\f106";
				font-family: var(--icons-font-family);

			}
		}
	}

	& .category-select-item {

		&.active a {
			color: var(--global-font-color);
			cursor: default;
		}
	}

	& .toggle-target {
		display: none;
	}
}


@media only screen and (max-width: 640px) {

	#jp-relatedposts {
		padding-left: var(--gutter-width-mobile);
		padding-right: var(--gutter-width-mobile);

		& h3.jp-relatedposts-headline {
			text-align: center;
			white-space: nowrap;
		}

		& .jp-relatedposts-items {

			& .jp-relatedposts-post {
				width: 100%;
				margin-bottom: var(--block-padding-vert);
			}

			&.jp-relatedposts-items-visual {
				margin-right: 0;
				flex-wrap: wrap;

				& .jp-relatedposts-post {
					padding-right: 0;
				}
			}

		}
	}
}

